:root {
  --theme-color: #0a1e34;
  background-color: var(--theme-color);
}

@keyframes fade-in {
  0% {opacity: 0}
  100% {opacity: 1}
}

/* App layout */

body { display: flex; justify-content: center}

#app {
  color: azure;
  width: 100vw; height: 100vh;
  max-width: 75rem;
  display: grid;
  grid-template-rows: 3rem auto 3rem;
  box-sizing: border-box;
}

a, button {
  border: 0;
  transition: ease-in-out 250ms;
  background-color: var(--theme-color);
  border-radius: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  font-size: larger;
  color: azure
}
a:hover, button:hover, .active { background-color: rgba(255, 255, 255, 0.5) }
header, footer { position: sticky; width: 100%}
main { overflow-y: scroll; overflow-x: hidden; animation: fade-in 350ms}
main::-webkit-scrollbar { display: none}
footer { display: flex; justify-content: space-evenly;}
form { width: 100%}

/* Pages */
/* * * * */

/* Menu */
/* Grid template areas logically determined in Menu.tsx */
#menu { display: grid; grid-template-columns: auto auto; width: 100%; padding: 0.5rem 1rem; box-sizing: border-box }
.menuItem { display: flex; align-items: center;}
#brand { justify-content: flex-start;}
#brand a { font-weight: bold;}
#profile, #auth-button { justify-content: flex-end;}

/* Profile page */
.profile, .profile fieldset, .profile form { display: flex; flex-direction: column; align-items: center}

#file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.file {
  cursor: pointer;
}